In [18]:
import numpy as np
import pandas as pd

In [19]:
df1 = pd.read_csv('Average grade in courses.csv', index_col=0)
df2 = pd.read_csv('required_data.csv', index_col=0)

In [20]:
df1.head()

  Course Code  Average Grade
0      AE 152       7.589947
1      AE 153       7.615385
2      AE 219       9.160000
3      AE 223       7.011869
4      AE 225       6.546154

In [21]:
df2.head()

  Course Code     F-avg  nXX
0      AE 152  2.121303    1
1      AE 153  1.785527    1
3      AE 223  2.395212    2
4      AE 225  1.946052    2
5      AE 227  2.602819    2

In [22]:
df3 = pd.merge(df1, df2, on='Course Code', how='inner')

In [23]:
df3.head()

  Course Code  Average Grade     F-avg  nXX
0      AE 152       7.589947  2.121303    1
1      AE 153       7.615385  1.785527    1
2      AE 223       7.011869  2.395212    2
3      AE 225       6.546154  1.946052    2
4      AE 227       6.590504  2.602819    2

In [24]:
course_data = pd.read_csv('COURSE_DATA.csv', index_col=0)

In [25]:
course_data.head()

,YEAR,SEM,Sr no.,Type,Course Code,Course Name,Course Type,Course content category\nOnly for 2022 Entrants,Instructor(s),Venue,...,Total Credits,Type.1,Lecture,Tutorial,Practical,Selfstudy,Half Semester,Text Reference,Description,Last Update
0,2021,1,1,timetable,AE 152,Introduction to Aerospace Engg.,Theory,NaN,I - Pant R.K.,\nFullSemester,...,6.0,Theory,2.0,NaN,1.0,NaN,N,"Ojha S.K., Flight Performance of Aircraft, AIA...",Nomenclature of aircraft components. Standard ...,2015-12-01 10:20:19.59143
1,2021,1,2,timetable,AE 153,Introduction to Aerospace Engg.,Theory,NaN,I - Pant R.K.,\nFullSemester,...,6.0,Theory,2.0,NaN,1.0,NaN,N,"1. Anderson, J. D., The Aeroplane, a History o...","Historical Developments in Aviation, Aviation ...",2016-10-06 10:40:42.158711
2,2021,1,4,timetable,AE 223,Thermodynamics and Propulsion,Theory,NaN,I - Sudarshan Kumar,\nFullSemester,...,6.0,Theory,3.0,NaN,NaN,NaN,N,"1. Sonntag, R. E., Borgnakke ,C. and Van Wylen...","Basic concepts: System boundary, surroundings,...",2015-08-18 11:29:42.663382
3,2021,1,5,timetable,AE 223,Thermodynamics and Propulsion,Theory,NaN,I - Sudarshan Kumar,\nFullSemester,...,6.0,Theory,3.0,NaN,NaN,NaN,N,"1. Sonntag, R. E., Borgnakke ,C. and Van Wylen...","Basic concepts: System boundary, surroundings,...",2015-08-18 11:29:42.663382
4,2021,1,6,timetable,AE 225,Incompressible Fluid Mechanics,Theory,NaN,I - P. Ramachandran,\nFullSemester,...,6.0,Theory,3.0,NaN,NaN,NaN,N,"1. White, F. M., Fluid Mechanics (SI Units), 7...","Introduction. Fluid properties, fluid forces, ...",2015-08-18 11:05:03.531077

In [26]:
course_data.drop_duplicates(subset='Course Code', inplace=True)

In [27]:
course_data

,YEAR,SEM,Sr no.,Type,Course Code,Course Name,Course Type,Course content category\nOnly for 2022 Entrants,Instructor(s),Venue,...,Total Credits,Type.1,Lecture,Tutorial,Practical,Selfstudy,Half Semester,Text Reference,Description,Last Update
0,2021,1,1,timetable,AE 152,Introduction to Aerospace Engg.,Theory,NaN,I - Pant R.K.,\nFullSemester,...,6.0,Theory,2.0,NaN,1.0,NaN,N,"Ojha S.K., Flight Performance of Aircraft, AIA...",Nomenclature of aircraft components. Standard ...,2015-12-01 10:20:19.59143
1,2021,1,2,timetable,AE 153,Introduction to Aerospace Engg.,Theory,NaN,I - Pant R.K.,\nFullSemester,...,6.0,Theory,2.0,NaN,1.0,NaN,N,"1. Anderson, J. D., The Aeroplane, a History o...","Historical Developments in Aviation, Aviation ...",2016-10-06 10:40:42.158711
2,2021,1,4,timetable,AE 223,Thermodynamics and Propulsion,Theory,NaN,I - Sudarshan Kumar,\nFullSemester,...,6.0,Theory,3.0,NaN,NaN,NaN,N,"1. Sonntag, R. E., Borgnakke ,C. and Van Wylen...","Basic concepts: System boundary, surroundings,...",2015-08-18 11:29:42.663382
4,2021,1,6,timetable,AE 225,Incompressible Fluid Mechanics,Theory,NaN,I - P. Ramachandran,\nFullSemester,...,6.0,Theory,3.0,NaN,NaN,NaN,N,"1. White, F. M., Fluid Mechanics (SI Units), 7...","Introduction. Fluid properties, fluid forces, ...",2015-08-18 11:05:03.531077
6,2021,1,8,timetable,AE 227,Solid Mechanics,Theory,NaN,I - Krishnendu Haldar,\nFullSemester,...,6.0,Theory,3.0,NaN,NaN,NaN,N,"1. Gere, J. M., ``Mechanics of Materials``, Th...",Introduction: Engg. statics vs solid mechanics...,2015-08-18 11:06:46.377862
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6455,2023,2,35,timetable,PH 309,Quantum Mechanics II,Theory,Interdisciplinary STEM Course.,I - Soumya Bera,\nFullSemester,...,8.0,Theory,3.0,1.0,NaN,NaN,N,1.Principles of Quantum Mechanics by R. Shanka...,"Addition of angular momentum, Clebsch-Gordan c...",2023-10-30 10:40:03.913093
6486,2023,2,67,timetable,PH 601,Advanced Quantum Information and Computation,Theory,Interdisciplinary STEM Course.,I - Himadri Shekhar Dhar\nI - Sai Vinjanampathy,\nFullSemester,...,6.0,Theory,2.0,1.0,NaN,NaN,N,"[1] Nielsen, Michael A., and Isaac L. Chuang. ...",Module 1: Computational Complexity & Models of...,2023-05-29 14:55:28.339174
6503,2023,2,15,timetable,PS 644,"Advanced Topics in AI, Data, and Policy",Theory,Interdisciplinary STEM Course.,I - Anupam Guha,\nFullSemester,...,6.0,Theory,3.0,NaN,NaN,NaN,N,"302225 The Economics of Virtue, The Circulatio...",• Historicizing and exploring extant AI policy...,2023-05-01 15:38:11.512461
6505,2023,2,17,timetable,PS 701,Energy Transition,Theory,Interdisciplinary STEM Course.,I - Anjali Sharma,\nFullSemester,...,6.0,Theory,3.0,NaN,NaN,NaN,N,"1. Smil, V. (2016). Examining energy transitio...",1. Introduction to energy transition 2. Basic...,2023-12-13 15:58:14.793192
6507,2023,2,19,timetable,PS 801,"State, Markets, and Public Policy",Theory,Interdisciplinary STEM Course.,I - Prabhir Vishnu Poruthiyil,\nFullSemester,...,6.0,Theory,3.0,NaN,NaN,NaN,N,"1. Marciano, R. (2023). More than just experts...",• Module 1: Theories of the State and Market T...,2023-09-12 15:13:25.368684

In [28]:
df5 = pd.merge(df3, course_data.loc[:,['Course Code','Course Name', 'Course Type']], on='Course Code', how='inner')

In [29]:
df5

,Course Code,Average Grade,F-avg,nXX,Course Name,Course Type
0,AE 152,7.589947,2.121303,1,Introduction to Aerospace Engg.,Theory
1,AE 153,7.615385,1.785527,1,Introduction to Aerospace Engg.,Theory
2,AE 223,7.011869,2.395212,2,Thermodynamics and Propulsion,Theory
3,AE 225,6.546154,1.946052,2,Incompressible Fluid Mechanics,Theory
4,AE 227,6.590504,2.602819,2,Solid Mechanics,Theory
...,...,...,...,...,...,...
1800,SC 646,8.294118,5.286919,6,Distributed Optimization and Machine Learning,Theory
1801,SC 651,8.851064,6.335821,6,Estimation on Lie Groups,Theory
1802,SC 654,4.708333,1.127744,6,Social learning and herding,Theory
1803,SC 702,8.750000,0.928020,7,Linear Systems Theory for PDEs,Theory
1804,MA 106,6.428468,1.237499,1,Linear Algebra,Theory

In [30]:
df5

,Course Code,Average Grade,F-avg,nXX,Course Name,Course Type
0,AE 152,7.589947,2.121303,1,Introduction to Aerospace Engg.,Theory
1,AE 153,7.615385,1.785527,1,Introduction to Aerospace Engg.,Theory
2,AE 223,7.011869,2.395212,2,Thermodynamics and Propulsion,Theory
3,AE 225,6.546154,1.946052,2,Incompressible Fluid Mechanics,Theory
4,AE 227,6.590504,2.602819,2,Solid Mechanics,Theory
...,...,...,...,...,...,...
1800,SC 646,8.294118,5.286919,6,Distributed Optimization and Machine Learning,Theory
1801,SC 651,8.851064,6.335821,6,Estimation on Lie Groups,Theory
1802,SC 654,4.708333,1.127744,6,Social learning and herding,Theory
1803,SC 702,8.750000,0.928020,7,Linear Systems Theory for PDEs,Theory
1804,MA 106,6.428468,1.237499,1,Linear Algebra,Theory

In [31]:
df5.columns = ['Course Code', 'Average Grade', 'CBS', 'nXX','Course Name','Course Type']

In [32]:
df5.head()

,Course Code,Average Grade,CBS,nXX,Course Name,Course Type
0,AE 152,7.589947,2.121303,1,Introduction to Aerospace Engg.,Theory
1,AE 153,7.615385,1.785527,1,Introduction to Aerospace Engg.,Theory
2,AE 223,7.011869,2.395212,2,Thermodynamics and Propulsion,Theory
3,AE 225,6.546154,1.946052,2,Incompressible Fluid Mechanics,Theory
4,AE 227,6.590504,2.602819,2,Solid Mechanics,Theory

In [33]:
df5.to_csv('merged_data.csv', index=False)

In [34]:
df5['Average Grade'].min()

2.3230769230769237